<!DOCTYPE html>
<html lang="en" class="dark" style="color-scheme: dark;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/statement.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/portfolio.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>Receitas</title>
</head>
<body style="margin-top: 2%; overflow: hidden;">
    <div class="header-wrapper" style="flex-direction: column; align-items: center; justify-content: center; text-align: center;">
        <h1>Receitas</h1>
        <p>Total de receitas: {{ profits }}</p>
    </div>
    <div class="wrapper">
        <div class="table-wrapper">
            <table class="portfolio-table">
                <thead>
                    <tr>
                        <th>Receita</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in profits_dic.items() %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>{{ value }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="graph-wrapper">
            <img src="{{ url_for('views.get_image', filename='accounts/' + id + '/' + 'analysis' + '/' + 'profits.png') }}" style="margin-right: 10%;">
        </div>
    </div>
</body>
</html>

